version: '3'
services:
  verbose-waffle:
    image: verbose-waffle:local
    build: .
    volumes:
      - C:\Certbot\archive\kksoft.kr:/etc/letsencrypt/live/kksoft.kr
      - ./verbose-waffle:/opt/project/verbose-waffle
    working_dir: /
#    command: /bin/sh -c "python3 /opt/project/verbose-waffle/main.py"  -> This execution order is already in the base-image.
    networks:
      - default
    ports:
      - "64550:64550"
    restart: always
